<div class="container" style="margin-bottom: 150px; margin-top: 50px">
  <div class="ordem-compra card p-2" *ngIf="purchaseId === undefined">
    <form novalidate>
      <h4>Sua Compra</h4>
      <hr />

      <div class="form-row p-2 card bg-light my-2">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid" />
        </div>
        <div class="form-group col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">29.90</div>
      </div>

      <div class="form-row p-2 card bg-light">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid" />
        </div>
        <div class="form-group col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">31.90</div>
      </div>

      <div class="form-row">
        <div class="form-group col d-flex justify-content-end my-3">
          <h4>Total do pedido: 61.80</h4>
        </div>
      </div>
      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control {{
              addressStatsPritine ? '' : addressValid ? 'is-valid' : 'is-invalid'
            }}"
            placeholder="Endereço"
            autocomplete="off"
            minlength="5"
            required
            [value]="address"
            #inputAddress
            (input)="upAddress(inputAddress.value)" />

          <div *ngIf="addressStatsPritine == false">
            <div *ngIf="addressValid; else msgAddressInvalid">
              <small class="text-success"></small>
            </div>
            <ng-template #msgAddressInvalid>
              <small class="m-2 text-danger">Endereço inválido</small>
            </ng-template>
          </div>
        </div>

        <div class="my-2 form-group col-md-2">
          <input
            type="text"
            class="form-control {{
              numberStatsPritine ? '' : numberValid ? 'is-valid' : 'is-invalid'
            }}"
            placeholder="Número"
            autocomplete="off"
            minlength="1"
            required
            [value]="number"
            #inputNumber
            (input)="upNumber(inputNumber.value)" />
          <div *ngIf="numberStatsPritine == false">
            <div *ngIf="numberValid; else msgNumberInvalid">
              <small class="text-success"></small>
            </div>
            <ng-template #msgNumberInvalid>
              <small class="m-2 text-danger">Número inválido</small>
            </ng-template>
          </div>
        </div>

        <div class="form-group col-md-4">
          <input
            type="text"
            class="form-control {{
              complementStatsPritine ? '' : complementValid ? 'is-valid' : ''
            }}"
            placeholder="Complemento"
            autocomplete="off"
            [value]="complement"
            #inputComplement
            (input)="upComplement(inputComplement.value)" />

          <div *ngIf="complementStatsPritine == false">
            <div *ngIf="complementValid">
              <small class="text-success"></small>
            </div>
          </div>
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-3">
          <select
            class="form-control  {{
              formMoneyStatsPritine ? '' : formMoneyValid ? 'is-valid' : 'is-invalid'
            }}"
            #selectFormMoney
            (change)="upFormMoney(selectFormMoney.value)">
            <option value="">Selecione uma opção</option>
            <option
              value="dinheiro"
              selected="{{ formMoney == 'dinheiro' ? 'selected' : '' }}">
              Dinheiro
            </option>
            <option value="debito" selected="{{ formMoney == 'debito' ? 'selected' : '' }}">
              Débito
            </option>
          </select>
          <div *ngIf="formMoneyStatsPritine == false">
            <div *ngIf="formMoneyValid; else msgFormMoneyInvalid">
              <small class="text-success"></small>
            </div>
            <ng-template #msgFormMoneyInvalid>
              <small class="m-2 text-danger">Selecione uma forma de pagamento</small>
            </ng-template>
          </div>
        </div>
      </div>

      <hr />
      <button
        type="button"
        class="btn btn-primary btn-lg"
        [disabled]="formStatsButton"
        (click)="readPurchaseUp()">
        Cofirmar compra
      </button>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="purchaseId !== undefined">
    <app-purchase-success [purchaseId]="purchaseId"></app-purchase-success>
  </div>
</div>
