<div class="container card" style="margin-top: 50px; margin-bottom: 150px">
  <div class="ordem-compra" *ngIf="purchaseId === undefined">
    <form [formGroup]="formulario" novalidate (ngSubmit)="readPurchase()">
      <h4 class="text-center my-2">Carrinho de compras</h4>
      <hr />

      <div class="" *ngIf="cartService.exibirItens().length; else carrinhoVazio">
        <div class="form-row card bg-light m-2 p-2" *ngFor="let item of itensCarrinho">
          <div class="form-group col-sm-1">
            <img [src]="item.img" class="card" />
          </div>
          <div class="form-group col-sm-6">
            {{ item.titulo }}
            <br />
            {{ item.descricao }}
          </div>

          <div>
            <div class="row">
              <div class="col">
                <button (click)="diminuir(item)" type="button" class="btn btn-link">-</button>
                {{ item.quantidade }}
                <button (click)="adicionar(item)" type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{ item.quantidade * item.valor | currency: 'BRL' }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{ cartService.totalItemCarrinho() | currency: 'BRL' }}</h4>
          </div>
        </div>
      </div>

      <ng-template #carrinhoVazio>
        <div class="form-row text-center card bg-light m-2 p-2">Seu carrinho está vazio</div>
      </ng-template>

      <br />

      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-6 my-2">
          <input
            type="text"
            class="form-control"
            placeholder="Endereço"
            autocomplete="off"
            formControlName="endereco" />

          <small
            *ngIf="!formulario.get('endereco').valid && formulario.get('endereco').touched"
            class="form-text text-danger my-2"
            >Endereço Inválido</small
          >
        </div>

        <div class="form-group col-md-2 my-2">
          <input
            type="text"
            class="form-control"
            placeholder="Número"
            autocomplete="off"
            formControlName="numero" />

          <small
            *ngIf="!formulario.get('numero').valid && formulario.get('numero').touched"
            class="form-text text-danger my-2"
            >Número Inválido</small
          >
        </div>

        <div class="form-group col-md-4 my-2">
          <input
            type="text"
            class="form-control"
            placeholder="Complemento"
            autocomplete="off"
            formControlName="complemento" />
        </div>
      </div>

      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row g-3">
        <div class="form-group col-md-3 my-2">
          <select class="form-select" formControlName="formaPagamento">
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>

          <small
            *ngIf="
              !formulario.get('formaPagamento').valid &&
              formulario.get('formaPagamento').touched
            "
            class="form-text text-danger my-2"
            >Forma de Pagamento Inválido</small
          >
        </div>
      </div>
      <!--desabilitar botao-status  [disabled]="!formulario.valid"-->
      <hr />
      <button type="submit" class="btn btn-primary btn-lg">Confirmar compra</button>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="purchaseId !== undefined">
    <app-purchase-success [purchaseId]="purchaseId"></app-purchase-success>
  </div>
</div>
