<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink=""
      ><img class="" src="../../assets/logo.png" alt="Logo" style="margin-left: 30px"
    /></a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink=""
          >Home <span class="sr-only">(Página atual)</span></a
        >
        <a class="nav-item nav-link" routerLink="/restaurantes">Restaurantes</a>
        <a class="nav-item nav-link" routerLink="/diversao">Diversão</a>
      </div>
    </div>
    <form class="form-inline mx-3">
      <!--Atributo apartir de uma referencias value ( ex. #searchTerm.value)-->
      <input
        class="form-control mr-2"
        type="search"
        placeholder="Pesquisar ofertas..."
        #searchTerm
        (keyup)="search(searchTerm.value)" />
      <ul class="list-group" style="z-index: 999">
        <li
          class="list-group-item"
          style="position: relative"
          *ngFor="let offers of offers | async">
          <a class="nav-link" [routerLink]="['/ofertas', offers.id]" (click)="clearSearch()"
            >{{ offers.titulo | description: 15 }}
          </a>
        </li>
      </ul>
    </form>
    <div class="">
      <a routerLink=""
        ><i class="text-primary fa fa-cart-arrow-down fa-4x mx-5" alt="Carrinho de compras"></i
      ></a>
    </div>
  </nav>
</div>
