<div class="container card my-4">
  <div class="secao">
    <h3 class="text-center">Cinema, viagens, diversão muito e mais!</h3>
    <h5 class="text-center">
      Conheça as melhores ofertas para você se divertir quando quiser:
    </h5>
  </div>
  <hr class= />
  <div class="row" *ngFor="let offers of offers">
    <div class="col-md-4 my-2">
      <img [src]="offers.imagens" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>{{ offers.titulo }}</h4>
      </div>

      <div class="row">
        <h5>{{ offers.descricao_oferta }}</h5>
      </div>

      <div class="row">
        <p>
          Anunciado por: <b>{{ offers.anunciante }}</b>
        </p>
      </div>

      <div class="row">
        <p>{{ offers.valor | currency: 'BRL' }}</p>
      </div>

      <div class="row">
        <button [routerLink]="['/ofertas', offers.id]" class="btn btn-outline-primary">
          Ver oferta
        </button>
      </div>
    </div>
    <hr class="my-3" />
  </div>
</div>
